

.nav-link{
    color:black !important;
    font-family:avenir !important;
    text-transform:uppercase !important;
  }

  .navbar, .navbar-expand-lg, .navbar-light, .bg-light, .customNav{
    background-color: white !important;
  }
  
  .button{
  
    background: #95512b 0% 0% no-repeat padding-box;
    border: 1px solid #95512b;
    border-radius:48px; 
    font-family:avenir;
    text-align: center;
    letter-spacing:3px;
    color:#ffffff;
    text-transform:uppercase;
    font-size:15px;
    font-weight:book;
    padding:10px 20px;
    cursor:pointer;
  }

  .about{
      text-decoration:none;
  }

  .mywork{
      text-decoration:none;
  }
  
  .customNav{
    position:fixed;
    width:100%;
    background:none;
    z-index:10;
    color:black !important;
    font-family:avenir;
    text-transform:uppercase !important;
  }
  
  .navbar-nav{
    margin-left:auto;
    margin-right:0 !important;
    color:black;
    font-family:avenir;
    text-transform:uppercase !important;
    background-color: white;
  }
  
  .navbar-brand img{
    padding-right:15px;
    width:100px;
  }
  
  .nav-item{
    margin:0px 15px;
    color:black !important;
    font-family:avenir;
    text-transform:uppercase !important;
  }
  
  
  .navCTA{
    font-size:15px;
  }
  
  .jumbotron{
    height:500px;
    height:calc(100vh - 25px);
    display:flex;
    align-items:center;
    justify-content:left;
    background-image:url("../images/myphoto.png");
    background-repeat:no-repeat;
    background-position:right;
    background-color:white;
    background-size: 25%;
    background-color:none;
  }
  
  .jumboCopy{
    width:70%;
    min-width:500px;
    max-width:700px;
    color:black;
    text-align:left;
  }
  
  .heroimage{
      display:flex;
      justify-content: flex-end;
  }

  #heroimage{
    width:70%;
    height:70%;
    display:flex;
    justify-content:flex-end;
  }
  h1,h2,h3,h4,h5,h6{
    font-family:avenir, sans-serif;
  }
  
  h1{
      font-family: avenir;
      text-align:left;
      letter-spacing:8px;
      text-transform:uppercase;
      font-weight:bold !important;
      font-size:80px;
  }
  
  h2{
    font-family:avenir;
    text-align:left;
    letter-spacing:8.4px;
    text-transform:uppercase;
    font-size:40px;
  }

#mywork{
    display:inline-block;
    margin-left:400px;
    margin-top: 150px;
    margin-bottom:100px;
}

#projects{
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    'pettrek ptphoto'
    'whirl wphoto'
    'swag sphoto'
}

@media only screen and (max-width:600){
    #projects{
        display:grid;
        justify-content: center;
        padding:10px;
        grid-template-columns:auto;
        grid-template-rows: 1fr;
        grid-template-areas:
        "ptphoto"
        "pettrek"
        "wphoto"
        "whirl"
        "sphoto"
        "swag"
    }
}

#pettrek{
    display:grid;
    grid-area:pettrek;
    background-color:#ADB7B9;
    grid-column-start:1;
    grid-column-end:2;
    height:100vh;
}

#ptphoto{
    display:grid;
    grid-area:ptphoto;
    background-image: url("../images/home/pettrek-mockup-refresh.png");
    background-size:200%;
    background-position:center;
    height:100vh;
    grid-column-start:2;
    grid-column-end:3;
    background-repeat:no-repeat;
}

#whirl{
    display:grid;
    grid-area: whirl;
    background-color:#F3E7DB;
    grid-column-start:1;
    grid-column-end:2;
    height:100vh;
}

#wphoto{
    display:grid;
    grid-area:wphoto;
    background-image: url("../images/home/whirl-mockup-refresh.png");
    background-size:200%;
    background-position:center;
    height:100vh;
    grid-column-start:2;
    grid-column-end:3;
    background-repeat:no-repeat;
}

#swag{
    display:grid;
    grid-area:swag;
    background-color:#ECC579;
    grid-column-start:1;
    grid-column-end:2;
    height:100vh;

}

#sphoto{
    display:grid;
    grid-area:sphoto;
    background-image: url("../images/home/swag-mockup-refresh.png");
    background-size:100%;
    height:100vh;
    grid-column-start:2;
    grid-column-end:3;
    background-repeat:no-repeat;
}

.text{
    margin:10%;
}

.footerlinks{
    font-family: avenir;
    font-weight:medium;
    font-size:20px;
    text-align: left;
    letter-spacing: 2px;
    text-transform:uppercase;
    list-style-type:none;
    display:grid;
    color:#95512B;
    grid-area:footerlinks;
    padding:30px;
    text-decoration: none;
}

.footerlinks ul{
    text-decoration: none;
    list-style-type:none;
}

.footerlogo{
    width: 150px;
    height: 150px;
    display:grid;
}

.footer-logo{
    width: 300px;
    display:grid;
    grid-area:footerlogo;
    padding:50px;
}

.footeremail{
    display:grid;
    color:#95512B;
    grid-area:footeremail;
    padding:50px;
}

.footer{
    display:grid;
    background-color: #F3E7DB;
    margin-top:100px;
    grid-template-rows:auto;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:
    "footerlogo footerlinks footeremail icons";

}

.icons{
    display:grid;
    grid-area:icons;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-template-areas:
    "facebook linkedin instagram";
    margin-top:50px;
}

#facebook{
    background-image:url("../images/facebook.png");
    background-repeat:no-repeat;
    grid-area:facebook;
}

#linkedin{
    background-image:url("../images/linkedin.png");
    background-repeat:no-repeat;
    grid-area:linkedin;
}

#instagram{
    background-image:url("../images/instagram.png");
    background-repeat:no-repeat;
    grid-area:instagram;
}

@media only screen and (max-width:600){
    .footer{
        display:grid;
        justify-content: center;
        padding:10px;
        grid-template-columns:auto;
        grid-template-rows: 1fr 1 fr;
        grid-template-areas:
       "footerlogo footerlinks"
       "footeremail icons"
    }
}